<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            Welcome to Tamil Nadu!
A potpourri of vibrant cultures, exotic destinations and enduring memories; welcome to one of the heartlands of human civilization.
Tamil Nadu - where stories never end.

<h1>Places To Visit</h1>
      <h4>Ooty</h4>
      <h4>Kodaikanal</h4>
      <h4>yercaud</h4>
      <h4>Masinagudi</h4>
      <h4>Tanjai Big Temple</h4>
      <h4>Meenakshi Amman Temple</h4>


      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnQAuMdzbalGH7hqVIvbCQ5j70rJIboHasow&usqp=CAU" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

      <h1>Subscribe to our newsletter</h1>
      <table class="table">
        <tr>
            <td>Name</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-warning">Subscribe</button></td>
        </tr>
      </table>
